.root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(105, 4, 4);
}

.formWrapper {
  width: 450px;
  padding: 20px;
  background-color: bisque;
  border-radius: 8px;
}

.head {
  margin-bottom: 20px;
  display: block;
  font-size: 16px;
  text-align: center;
}

.formWrapper button {
  background-color: rgb(105, 4, 4);
  border-radius: 8px;
  border-color: rgb(105, 4, 4);
}
