.wrapper {
  margin: 0;
  margin-top: 40px;
  padding: 0;
  display: grid;
  grid-template-columns: 50% 50%;
}

.data input {
  margin: 5px 0;
  padding: 5px 10px;
  width: 90%;
  box-sizing: border-box;
  font-size: 20px;
}

.team h3 {
  margin: 0;
  padding: 0;
}

.btn {
  margin-top: 10px;
  padding: 5px;
  width: 100px;
  font-weight: bold;
  color: white;
  border-radius: 15px;
  background-color: rgb(88, 6, 6);
  cursor: pointer;
}
